.comments{
	background-color: #fff;
	margin: 10px auto;
}

.comments__item{
	overflow: hidden;
	padding: 20px;
	border-bottom: 1px solid #eee;
	display: block;
	color: #333;
}

.comments__item__author{
	max-width: 200px;
	text-align: center;
	display: block;
}

.comments__item__content{
	line-height: 25px;
	width: 920px;
	display: block;
	padding-left: 30px;
}
.comments__item__date{
	display: block;
	float: right;
}
.comments__item__date em{
	cursor: pointer;
	margin-left: 5px;
}

#replyCommentVal{
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 100px;
	border-radius: 10px;
	padding: 20px;
	resize: none;
}