.focus {
	overflow: hidden;
	font-size: 0;
	margin-top: 5px;
}

.banner {
	float: left;
	margin-right: 5px;
	width: 520px;
}

.banner img {
	width: 100%;
	height: 280px !important;
	object-fit: contain;
}

.more {
	color: #999;
	font-size: 14px;
}

.goods--small__list {
	float: left;
	overflow: hidden;
	width: 435px;
	overflow: hidden;
}

.goods--small {
	display: block;
	background-color: #fff;
	width: 215px;
	float: left;
	margin-right: 5px;
	-webkit-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	background-color: #fff;
	position: relative;
}

.goods--small:hover {
	opacity: .8;
	-webkit-transition: all .2s;
	transition: all .2s;
	text-decoration: none;
}

.goods--small:nth-child(2) {
	margin-right: 0;
}

.goods--small span {
	font-size: 14px;
	display: block;
	height: 65px;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	color: #666;
}

.goods--small em {
	border-radius: 0 0 5px 0;
	position: absolute;
	font-size: 14px;
	color: #fff;
	top: 0;
	left: 0;
	background-color: #FF5500;
	padding: 5px 10px;
}

.goods--small em i {
	font-size: 12px;
}

.goods--small img {
	display: block;
	width: 215px;
	height: 215px;
}

.end {
	height: 50px;
	position: relative;
}

.end i {
	position: absolute;
	text-align: center;
	color: #ccccd0;
	left: 50%;
	width: 84px;
	line-height: 20px;
	font-size: 18px;
	margin-left: -42px;
	font-style: normal;
	top: 20px;
}

.end i:before, .end i:after {
	content: ' ';
	position: absolute;
	height: 0;
	line-height: 0;
	border-top: 1px solid #e6e6e6;
	width: 60px;
	top: 50%;
}

.end i:before {
	left: -70px;
}

.end i:after {
	right: -70px;
}

h3 {
	position: relative;
	line-height: 50px;
	font-size: 20px;
	color: #FF5500;
	background-color: #fff;
	padding: 0 10px;
	margin: 10px auto 0;
}

h3:before {
	content: "";
	position: relative;
	float: left;
	top: 14px;
	width: 4px;
	height: 16px;
	background: #ff242d;
	background: linear-gradient(to bottom, #ff7436, #ff0000);
	margin-right: 7px;
}